<html xmlns:th="http://www.w3.org/1999/xhtml">

<head>
    <link href="https://fonts.googleapis.com/css?family=Ubuntu" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="stylesheet" href="style.css" media="screen">
    <title>Sign in</title>
</head>

<body>
<div class="main">
    <p class="sign" align="center">Logare</p>
    <form th:action="@{/homePage}" method="post" enctype="multipart/form-data">
        <input class="un " id="nume" type="text" name="userName" minlength="5" maxlength="10" required  align="center" placeholder="Nume">
        <input class="pass" id="parola" type="password" name="password" minlength="5" maxlength="10" required  align="center" placeholder="Parola">
        <button class="submit" align="center" name="button1">Logare</button>
        <p class="forgot" align="center" name="button2"><a href="/forgotPassword">Resetare parola?</a></p>
        <p class="forgot" align="center" name="button3"><a href="/signUp">Înregistrare?</a></p>
    </form>
</div>

<script>
    var inputName = document.getElementById('nume');
    inputName.oninvalid = function(event) {
        event.target.setCustomValidity('Va rugam sa introduceti numele corect!(Acesta trebuie sa contina minim 5 si maxim 10 caractere)');
    }

    var inputPass = document.getElementById('parola');
    inputPass.oninvalid = function(event) {
        event.target.setCustomValidity('Va rugam sa introduceti parola corectă!(Acesta trebuie sa contina minim 5 si maxim 10 caractere)');
    }
</script>
</body>
</html>